.background_log {
  width: 100%;
  height: 950px;
  background-color: #d7d7d7;
  border-radius: 2rem;

  display: flex;
  justify-content: space-around;
  overflow: hidden; /* Masque la partie de l'image qui dépasse */
  position: relative; /* Nécessaire pour positionner l'image correctement */

  /* width: calc(100% + 10rem);
  margin-left: -5rem; */
}

.background_log img {
  width: 100%;
  height: 161%;
  position: relative;
  object-fit: cover;

  z-index: 1;
}

.background_log .update_pic {
  width: 1000px;
  height: 161%;
  position: relative;
  object-fit: cover;
}

#signup_users {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.card_signup {
  background-color: white;
  width: 50%;
  height: 900px;
  border-radius: 2rem;
  margin: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.card_signup h2 {
  font-size: 2rem;
  font-weight: 200;
}

.card_signup h3 {
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

.input-groupe {
  margin-bottom: 15px;
}

.input-groupe label {
  display: block;
  margin-bottom: 5px;
}

.input-groupe input {
  width: 95%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#file {
    /* border-radius: 1rem; */
    /* width: 50%; */
    height: 64px;
    /* border: 1px solid #d9d9d9; */
    margin-top: 2rem;
    text-indent: 1rem;
    font-size: 1.1rem;
}

.input-field {
  border-radius: 1rem;
  width: 50%;
  height: 64px;
  border: 1px solid #d9d9d9;
  margin-top: 2rem;
  text-indent: 1rem;
  font-size: 1.1rem;
}


.submit-button {
  border-radius: 1rem;
  width: 50%;
  height: 64px;
  border: none;
  margin-top: 2rem;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.submit-button:hover {
  background-color: #4a90e2; /* Change la couleur de fond au survol */
  color: white; /* Assure que le texte reste lisible */
  transform: translateY(-4px); /* Légère élévation */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Ombre pour donner un effet flottant */
}

.submit-button:active {
  transform: translateY(2px); /* Réduction de l'élévation pour l'effet de clic */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre réduite */
}

.card_signup h5 {
  color: black;
  font-weight: 300;
}

.case_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.short_case {
  width: 50px;
  height: 41px;
  background-color: #d9d9d9;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.short_case i {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.short_case:hover {
  transform: scale(1.2); /* Zoom léger */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Accentuation de l'ombre */
}

.short_case:hover i {
  color: #4a90e2; /* Changement de couleur de l'icône au survol */
}

.card_signup p {
  width: 47%;
  margin: auto;
  /* padding-top: 3rem; */
  font-size: 1.1rem;
}

span {
  color: #252fa1;
  font-weight: 700;
}

.short_case {
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile_picture_view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
}


@media screen and (max-width: 1920px) {
  .card_signup {
   
    width: 60%;
    /* height: 900px; */
    height: 650px;
   
  }

  .card_signup h3 {
    font-size: 1.5rem;

  }

  .card_signup h5 {
    margin: 1rem;
  }

  .background_log img {
    height: 188%;
  }

  
  
  .background_log .update_pic {
    width: 825px;
    height: 179%;
  
}

.profile_picture_view {
 
  margin-right: 0rem;
  margin-left: 4rem;
}

.background_log {
  height: 705px;
}

.submit-button {
  /* margin-top: 0; */
  /* height: 52px; */
}

.short_case i {
  font-size: 1rem;
}

.short_case {
  width: 43px;
    height: 31px;
}


}